body {background-color: honeydew;}
h1 {color: rgb(111, 16, 128); text-align: center;}
.pass {color: maroon;}
.grade {background-color: rgb(160, 187, 86)}
.certedby {text-align: center; font-size: xx-large;}